.grid--sample {
  @apply grid;
  grid-template-columns: 1fr 16rem;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "title    side"
    "content  side";
}

.area--title {
  grid-area: title
}

.area--content {
  grid-area: content
}

.area--side {
  grid-area: side
}
